<h1>Iniciar sesión</h1>
		
<form action="/auth/signup" method="POST">

    <label>Nombre de Usuario</label>
	<input type="text" name="username" placeholder="nombre" />

	<label>Correo electronico</label>
	<input type="email" name="email" placeholder="correo" />

	<label>Contraseña</label>
	<input type="password" name="password" placeholder="********" />

	<button type="submit">Iniciar sesión</button>

</form>