<div>
<h1>Iniciar sesi칩n</h1>
<form action="/auth/signup" method="POST">

    <label>Nombre de usuario</label>
	<input type="text" name="username" placeholder="nombre" />

	<label>Correo electr칩nico</label>
	<input type="text" name="email" placeholder="correo" />

	<label>Contrase침a</label>
	<input type="password" name="password" placeholder="********" />

	<button type="submit">Iniciar sesi칩n</button>
</form>

	{{#if errorMessage}}
		<p class="error">{{errorMessage}}</p>
	{{/if}}

</div>
		