<h1>Bienvenido a Rad-U</h1>
<h2>
<p>Conoce datos interesantes sobre el increíble mundo de la radiología y de tú salud.</p>
</h2>

<section aria-label="Newest Photos">
    <div class="carousel" data-carousel>
      <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
      <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
      <ul data-slides>
        <li class="slide" data-active>
          <img src="/images/rx2.png" alt="Nature Image #1">
        </li>
        <li class="slide">
          <img src="/images/rx.png" alt="Nature Image #2">
        </li>
        <li class="slide">
          <img src="https://source.unsplash.com/ndN00KmbJ1c" alt="Nature Image #3">
        </li>
      </ul>
    </div>
  </section>
