<h1>Crear galeria</h1>

<form action="/galeria/create" method="POST">
<label>Link de imagen</label>
<input type="text" name ="imageUrl"/>

<br/>

<label>Titulo de la galeria</label>
<input type="text" name ="name"/>

<br/>

<label>Descripcion</label>
<input type="text" name ="description"/>

<br/>

<label>Datos interesantes</label>
<input type="text" name ="interestingFacts"/>

<br/>

<button type="submit">Crear galeria</button>

</form>